/* iconos de  google */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  /* body format */
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);

  }

  /* barra de navegacion */
  .header{
    width: 100%;
    background-color:  rgba(78, 120, 227, 0.386);
    box-shadow: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 51px black;
    position: sticky;
    top: 0;
   
    
    
  }
  .header img{
    height: 35px;
    padding: 2px;
  }
  .search-bar-buttons{
    height: 35px;
    width: 40px;
  }


  .search-bar{
    border: solid 1px;
    display: flex;
    border-radius: 30px;
    flex-direction:row;
    align-items: center;
    gap: 5px;
    
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
  }
header button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
   
}




  /* cuerpo de post */

.content{
    display: flex;
    gap: 15px;

}
/* adide izquierdo */
.asidei-izquierdo{
width: 20%;
border: solid red;
padding: 1vh;
}
.iconos{
  border: solid red;
}
li{
  display: flex;
  align-items: center;
}
li a{
  text-decoration: none;
}

.descripcion{
  display: flex;
  flex-direction: column;
}


/* asaids derecho */
.aside-derecho{
    width: 25%;
    border: solid rgb(0, 13, 255);
    padding: 1vh;
    box-shadow:  15px 15px 15px;


}
.publicidad{
  height: 20vw;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  
}
.publicidad-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border:  1px solid black;
  height: 10vw;
}
.publicidad-slide button{
  height: 10%;
}

.publicidad-slide img{
  height: 65%;

}
.contactos{
  height: 3vw;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.contactos img{
  border-radius: 50%;
  height: 80%;
}

.asaid-texto-titulos{
font-size: 2em;
margin: 0;
padding: 1px;
border: 1px solid green;
}

/* post */
.cuerpo{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    
    border: solid red;
    gap: 15px;
  

}
main{
  gap: 50px;
}
main .post {
    width: 100%;;
    height: 40%;
    border: solid blue;
    display:flex;
    flex-direction: column;
  
}
 main section a{
  text-decoration: none;

 }

 .post-general{
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  height: 11vw;
  height: auto;
  width: 40vw;
  background-color: beige;
  
 }
 main section .post-reactiosn{
  display: flex;
  justify-content: space-around;
 }
 section{
  border: solid green;
 }

 .post-contacto img{
border-radius: 50%;
width: 5%;
margin: 5px;
 }
 .post-contacto{
  display: flex;
  align-items: center;
  gap: 15px;
  
 }
 .post-post{
  display: flex;
  justify-content: center;
  height: auto;
  width: 90%;
  border: 1px solid red;
  margin: 15px;
  background-color: rgba(199, 255, 255, 0.241);
 }
