/* iconos de  google */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  /* body format */
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(193, 216, 243);
    /* background-image: url("https://i.pinimg.com/1200x/4d/fc/98/4dfc98fe97aec74439cc1701fbf599dc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  */
  

  }

  /* barra de navegacion */
  .header{
    width: 100%;
    background-color:  rgba(78, 120, 227, 0.386);
    box-shadow: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 51px black;
    position: sticky;
    top: 0;
   
    
    
  }
  .header img{
    height: 80px;
    padding: 2px;
  }
  .search-bar-buttons{
    height: 35px;
    width: 40px;
  }


  .search-bar{
    border: solid 1px;
    display: flex;
    border-radius: 30px;
    flex-direction:row;
    align-items: center;
    gap: 5px;
    
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
  }
header button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
   
}




  /* cuerpo de post */

.content{
    display: flex;
    gap: 15px;

}
/* adide izquierdo */
.asidei-izquierdo{
  width: 25%;
  border: .001 solid #24303c;
  padding: 1vh;
  box-shadow:  7px 15px 40px;


}
.iconos{
  border: .001 solid #24303c;
}
li{
  display: flex;
  align-items: center;
}
li a{
  text-decoration: none;
}

.descripcion{
  display: flex;
  flex-direction: column;
}


/* asaids derecho */
.aside-derecho{
    width: 25%;
    border: .001 solid #24303c;
    padding: 1vh;
    box-shadow:  7px 15px 40px;


}
.publicidad{
  height: 20vw;

  display: flex;
  flex-direction: column;
  
}
.publicidad-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  gap: 15px;
  border:  1px solid #24303c ;
  height: 10vw;
  border-radius: 15px;
  box-shadow: .005px .005px .05px 1px;
}
.publicidad-slide button{
  height: 10%;
}

.publicidad-slide img{
  height: 65%;

}
.contactos{
  height: 3vw;
  border: 1px solid #24303c ;
  display: flex;
  align-items: center;
  border-radius: 11px;
}
.contactos img{
  border-radius: 50%;
  height: 35px
}

.asaid-texto-titulos{
font-size: 2em;
margin: 0;
padding: 1px;

}

/* post */
.cuerpo{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  

}
main{
  gap: 50px;
}
main .post {
    width: 100%;;
    height: 40%;
    display:flex;
    flex-direction: column;
  
}
 main section a{
  text-decoration: none;

 }

 .post-general{
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  height: 11vw;
  height: auto;
  width: 40vw;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(16px);
  box-shadow: 7px 13px 30px #000;
  border: 2px solid;

  
 }
 main section .post-reactiosn{
  display: flex;
  justify-content: space-around;
 }


 .post-contacto img{
border-radius: 50%;
width: 9%;
margin: 5px;
 }
 .post-contacto{
  display: flex;
  align-items: center;
  gap: 15px;
  
 }
 .post-text-id{
  font-size: 30px;
  color: black;
 }
 .post-post{
  display: flex;
  justify-content: center;
  height: auto;
  width: 90%;
  border: 1px solid rgb(213, 207, 207);
  margin: 15px;
  background-color: rgba(199, 255, 255, 0.241);
 }



