/* iconos de  google */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  /* body format */
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

  }

  /* barra de navegacion */
  .header{
    width: 100%;
    background-color:  rgba(187, 172, 194, 0.673);
    box-shadow: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 51px black;
    position: sticky;
    top: 0;
   
    
    
  }
  .header img{
    height: 35px;
    padding: 2px;
  }
  .search-bar-buttons{
    height: 35px;
    width: 40px;
  }


  .search-bar{
    border: solid 1px;
    display: flex;
    border-radius: 30px;
    flex-direction:row;
    align-items: center;
    gap: 5px;
    
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
  }
header button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
   
}


.log-in{
    flex: ;
}

  /* cuerpo de post */

.content{
    display: flex;
    gap: 15px;

}
/* adide izquierdo */
.asidei-izquierdo{
width: 20%;
border: solid red;
padding: 1vh;
}
.iconos{
  border: solid red;
}
li{
  display: flex;
  align-items: center;
}
li a{
  text-decoration: none;
}

.descripcion{
  display: flex;
  flex-direction: column;
}


/* asaid derecho */
.aside-derecho{
    width: 25%;
    border: solid red;
    padding: 1vh;


}
/* post */
.cuerpo{
    width: 50%;
    
    border: solid red;
    gap: 80px;

}
main{
  gap: 50px;
}
main .post {
    width: 100%;;
    height: 40%;
    border: solid blue;
    display:flex;
    flex-direction: column;
  
}
 main .post img{
    height: 50%;
 }

 main section a{
  text-decoration: none;

 }

 .post-general{
  display: flex;
  flex-direction: column;

  margin: 15px;
  
 }
 main section .post-reactiosn{
  display: flex;
  justify-content: space-around;
 }
 section{
  border: solid green;
 }